.fieldset-container {
    border: none;

}

.question-container {
    font-size: 3rem;
}

.label-answer {
    font-size: 2.4rem;
}

.questionaire-container {
    display: flex;
    flex-direction: column;
}


