$test-color: tomato;
$primary-color: #89d3dd;
// rgba (137, 211, 221);
$accent-color: #f8aca6;
// rgba (248, 172, 166);
$darkest-color: #2a2a2a;
// rgba (42, 42, 42);
$bright-color: #fbb040;
// rgba (251, 176, 64);