header {
    background: url("/assets/img-main.jpg") fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    // background: tomato;
    /* min-height: 800px; */
}

// .cat-question {
//     background-size: cover;
//     background-position: center;
//     height: 100vh;
// }

.results-container {
    background-size: cover;
    background-position: center;
    height: 100vh;
}