header {
    // background: url("/assets/img-main3.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    background: $accent-color;
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 800px; */
}

.heading-container {
    background: $darkest-color;
    border-radius: 100px;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.heading-title {
    @include heading-font(7rem);
    font-family: 'Playfair Display';
    color: $off-light;
    text-align: center;
    padding: 0 200px;
    margin: 0;
}

.button-welcome-container {
    padding-top: 30px;
}

.button-welcome {
    background: $primary-color;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    @include body-font (1.8rem);
    text-transform: uppercase;
    font-weight: 700;
    box-shadow: -1px 1px $off-light, 
                -2px 2px $off-light, 
                -3px 3px $off-light,
                -4px 4px 6px $off-light;
    transition: background-color 1s ease-out;
    &:hover {
        background-color: $primary-color-shade;
    }
    &:active {
        position: relative;
        bottom: -4px;
        right: 4px;
        box-shadow: 0 0 4px $off-light;    
    }
}

// ANIMATION STARTS

.svg-cat {
    display: block;
    align-items: center;
    padding-top: 30px;
    .svg {
        display: block;
    }
}

path {
	stroke: $accent-color;
	fill: none;
	stroke-dasharray: 1400;
	opacity: 1;
	animation: stroke 2s cubic-bezier(0,0.23,1,0.1);
}

@keyframes stroke {
	0% {
		opacity: 0;
		stroke-dashoffset: 1800;
	}

	20% {
		opacity: 0.3;

	}

	50% {
		opacity: 0.5;
	
	}

	100% {
		opacity: 1;
		stroke-dashoffset: 0;
	}
}

// ANIMATION ENDS


// ------------Responsive Design -------------------------

@media (max-width: 1140px) {
    .heading-title {
    padding: 0 145px;
    }
}


@media (max-width: 912px) {
    .heading-title {
    padding: 0 110px;
    }
}

@media (max-width: 774px) {
    .heading-title {
    padding: 0 55px;
    }
}


@media (max-width: 765px) {
    .heading-title {
    font-size: 6rem;
    padding: 0 50px;
    }
}


@media (max-width: 768px) {
    .heading-container {
    border-radius: 60px;
    }
}

@media (max-width: 500px) {
    header {
        background: $darkest-color;
    }
    .heading-title {
        font-size: 4rem;
    }
}

@media (max-width: 480px) {
    .svg-cat {
        padding-top: 10px;
    }
    .button-welcome-container {
        padding-top: 10px;
    }
}