article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto; }

img {
  width: 100%;
  max-width: 400px; }

main {
  background: #F0EFED; }

@media (max-width: 560px) {
  .wrapper {
    width: 90%; } }

header {
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  background: #f8aca6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* min-height: 800px; */ }

.heading-container {
  background: #2a2a2a;
  border-radius: 100px;
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.heading-title {
  font-family: 'Roboto Slab', serif;
  font-size: 7rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #2a2a2a;
  line-height: 1;
  font-family: 'Playfair Display';
  color: #F0EFED;
  text-align: center;
  padding: 0 200px;
  margin: 0; }

.button-welcome-container {
  padding-top: 30px; }

.button-welcome {
  background: #89d3dd;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: #2a2a2a;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-box-shadow: -1px 1px #F0EFED, -2px 2px #F0EFED, -3px 3px #F0EFED, -4px 4px 6px #F0EFED;
  box-shadow: -1px 1px #F0EFED, -2px 2px #F0EFED, -3px 3px #F0EFED, -4px 4px 6px #F0EFED;
  -webkit-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out; }
  .button-welcome:hover {
    background-color: #6da8b0; }
  .button-welcome:active {
    position: relative;
    bottom: -4px;
    right: 4px;
    -webkit-box-shadow: 0 0 4px #F0EFED;
    box-shadow: 0 0 4px #F0EFED; }

.svg-cat {
  display: block;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 30px; }
  .svg-cat .svg {
    display: block; }

path {
  stroke: #f8aca6;
  fill: none;
  stroke-dasharray: 1400;
  opacity: 1;
  -webkit-animation: stroke 2s cubic-bezier(0, 0.23, 1, 0.1);
  animation: stroke 2s cubic-bezier(0, 0.23, 1, 0.1); }

@-webkit-keyframes stroke {
  0% {
    opacity: 0;
    stroke-dashoffset: 1800; }
  20% {
    opacity: 0.3; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1;
    stroke-dashoffset: 0; } }

@keyframes stroke {
  0% {
    opacity: 0;
    stroke-dashoffset: 1800; }
  20% {
    opacity: 0.3; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1;
    stroke-dashoffset: 0; } }

@media (max-width: 1140px) {
  .heading-title {
    padding: 0 145px; } }

@media (max-width: 912px) {
  .heading-title {
    padding: 0 110px; } }

@media (max-width: 774px) {
  .heading-title {
    padding: 0 55px; } }

@media (max-width: 765px) {
  .heading-title {
    font-size: 6rem;
    padding: 0 50px; } }

@media (max-width: 768px) {
  .heading-container {
    border-radius: 60px; } }

@media (max-width: 500px) {
  header {
    background: #2a2a2a; }
  .heading-title {
    font-size: 4rem; } }

@media (max-width: 480px) {
  .svg-cat {
    padding-top: 10px; }
  .button-welcome-container {
    padding-top: 10px; } }

.questionaire-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.cat-question {
  background-size: cover;
  background-position: center;
  background: red;
  height: 100%;
  border-radius: 100px;
  padding: 30px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.question-section {
  height: 100vh;
  padding: 40px 0; }

.fieldset-container {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.fieldset-container h2 {
  -ms-flex-line-pack: center;
  align-content: center; }

.question-container {
  font-family: 'Roboto Slab', serif;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #2a2a2a;
  line-height: 1;
  line-height: 1.5; }

.question-container1,
.question-container3,
.question-container5 {
  background: #89d3dd; }

.question-container2,
.question-container4 {
  background: #f8aca6; }

.answer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

input[type="radio"] {
  opacity: 0;
  position: absolute; }

.answer-container input + label::before {
  content: "";
  background: #F0EFED;
  width: 20px;
  height: 20px;
  border: 5px solid #F0EFED;
  display: inline-block;
  border-radius: 100px;
  margin-right: 10px; }

.answer-container input:checked + label::before {
  content: "";
  background: #fbb040;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  margin-right: 10px; }

.answer-container input:hover + label::before {
  content: "";
  background: #fbbf66;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  margin-right: 10px; }

.label-answer {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: #2a2a2a;
  line-height: 1.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px; }

.next-1,
.next-3 {
  background: #f8aca6;
  -webkit-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease; }
  .next-1:hover,
  .next-3:hover {
    background-color: #c68984; }

.next-2,
.next-4 {
  background: #89d3dd;
  -webkit-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease; }
  .next-2:hover,
  .next-4:hover {
    background-color: #6da8b0; }

.button-next {
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: #2a2a2a;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-box-shadow: -1px 1px #F0EFED, -2px 2px #F0EFED, -3px 3px #F0EFED, -4px 4px 10px #2a2a2a;
  box-shadow: -1px 1px #F0EFED, -2px 2px #F0EFED, -3px 3px #F0EFED, -4px 4px 10px #2a2a2a; }
  .button-next:active {
    position: relative;
    bottom: -4px;
    right: 4px;
    -webkit-box-shadow: 0 0 8px #2a2a2a;
    box-shadow: 0 0 8px #2a2a2a; }

input[type="submit"] {
  background: #f8aca6;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: #2a2a2a;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-box-shadow: -1px 1px #F0EFED, -2px 2px #F0EFED, -3px 3px #F0EFED, -4px 4px 10px #2a2a2a;
  box-shadow: -1px 1px #F0EFED, -2px 2px #F0EFED, -3px 3px #F0EFED, -4px 4px 10px #2a2a2a;
  -webkit-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out; }
  input[type="submit"]:hover {
    background-color: #c68984; }
  input[type="submit"]:active {
    position: relative;
    bottom: -4px;
    right: 4px;
    -webkit-box-shadow: 0 0 8px #2a2a2a;
    box-shadow: 0 0 8px #2a2a2a; }

@media (max-width: 1115px) {
  .answer-container input + label::before {
    content: "";
    width: 15px;
    height: 15px;
    border: 3px solid #F0EFED;
    margin-right: 15px; }
  .answer-container input:checked + label::before {
    width: 15px;
    height: 15px;
    margin-right: 15px; }
  .answer-container input:hover + label::before {
    width: 15px;
    height: 15px;
    margin-right: 15px; } }

@media (max-width: 500px) {
  .cat-question {
    border-radius: 60px;
    padding: 10px 30px; }
  .question-container {
    font-size: 2rem;
    margin-bottom: 45px; }
  .label-answer {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 1px;
    color: #2a2a2a;
    line-height: 1.2; }
  .question-section {
    height: 100vh;
    padding: 15px 0; } }

@media (max-width: 480px) {
  .question-container {
    margin-bottom: 20px; } }

.final-result {
  background: #2a2a2a;
  padding: 30px 0;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: none; }

.results-heading {
  width: 100%; }

.results-section-container {
  background: #f8aca6;
  border-radius: 100px;
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }

.result-title {
  font-family: 'Roboto Slab', serif;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #2a2a2a;
  line-height: 1;
  padding: 0;
  margin: 20px 0; }

.result-desc {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: #2a2a2a;
  line-height: 1.2;
  padding: 0;
  margin: 0; }

.result-img {
  display: block; }
